h1 {
  color: var(--primary-color);
  font-weight: 600;
  font-family: roboto;
  letter-spacing: 1px;
}
input {
  background-color: #fff;
  color: #000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 250px;
}
.dropdown-toggle::after {
  display: none;
}

.btn-link {
  color: inherit;
  padding: 0;
  border: none;
  background: none;
}

.container-fluid.rounded-4 {
  background-color: #ffffff;
}
.table-fixed {
  table-layout: fixed;
  width: 100%;
}
.header {
  background-color: var(--secondary-color);
  color: white;
}

.left {
  border-radius: 15px 0 0;
}

.right {
  border-radius: 0 15px 0 0;
}

table tbody tr td:nth-last-child(1) {
  padding: 19.24px;
}
