<div class="container-fluid">
    <div>
      <div class="head d-flex justify-content-between align-items-center mt-4">
        <h1>Permission</h1>
  
        <!-- <p class="btn rounded-3">
          <a href="../adbranch">Add Branches</a>
        </p> -->
      </div>
      <input type="search" placeholder="  Search" />
    </div>
    <div class="tables">
      <table class="table table-striped rounded-5 table-hover">
        <thead class="rounded-5">
          <tr>
            <th class="border-left">ID</th>
            <th>Permission</th>
            <th>add</th>
            <th>delete</th>
            <th>Edit</th>
            <th>view</th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <td>1</td>
            <td>permissions</td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Setting</td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
          </tr>          <tr>
            <td>3</td>
            <td>Banks</td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Stores</td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
          </tr>
          <tr>
            <td>5</td>
            <td>Branches</td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
          </tr>
          <tr>
            <td>6</td>
            <td>Employess</td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
          </tr>
          <tr>
            <td>7</td>
            <td>Vendors</td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
          </tr>
          <tr>
            <td>8</td>
            <td>Cites</td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
            <td><i class="fa-solid fa-square-check"></i></td>
          </tr>
          