<div class="container-fluid">
  <div>
    <div class="head d-flex justify-content-between align-items-center mt-4">
      <h1>Groups Permissions</h1>
    </div>
    <input type="search" placeholder="  Search"  class="custom-input"/>
  </div>
  <div class="tables">
    <table class="table table-striped rounded-5 table-hover">
      <thead class="rounded-5">
        <tr>
          <th class="border-left">ID</th>
          <th>Groups</th>
          <th>add</th>
          <th>delete</th>
          <th>Edit</th>
          <th>view</th>
        </tr>
      </thead>

      <tbody>
        @for (item of groups; track $index) {
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td><input type="checkbox" class="form-check-input m-auto" (click)="editPermission(item.id,3)"></td>
            <td><input type="checkbox" class="form-check-input m-auto" (click)="editPermission(item.id,5)"></td>
            <td><input type="checkbox" class="form-check-input m-auto" (click)="editPermission(item.id,4)"></td>
            <td><input type="checkbox" class="form-check-input m-auto" (click)="editPermission(item.id,1)"></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
