<div class="container vh-100">
  <h1 class="mt-3 mb-4 ms-2">Add Delivery Man</h1>

  <div class="container rounded-4 p-5 m-auto">
    <form [formGroup]="deliveryForm" (ngSubmit)="handleForm()" class="d-grid">
      <div class="row">
        <div class="col-md-6">
          <label for="name">Full Name</label>
          <input
            type="text"
            class="form-control"
            id="deliveryName"
            formControlName="name"
            placeholder="Delivery Name"
            #inputDeliveryName
          />
          @if ( deliveryForm.get('name')?.errors &&
          (deliveryForm.get('name')?.touched || inputDeliveryName.value.length >
          0) ) {
          <div class="alert alert-danger mt-2">
            @if (deliveryForm.get('name')?.getError('required')) {
            <p>Deliveryman Name Required</p>
            }
          </div>
          }
        </div>

        <div class="col-md-6">
          <label for="phone">Phone</label>
          <input
            type="tel"
            class="form-control"
            id="phone"
            formControlName="phone"
            placeholder="Enter Employee Phone"
            #inputPhone
            name="Phone"
          />
          @if ( deliveryForm.get('phone')?.errors &&
          (deliveryForm.get('phone')?.touched || inputPhone.value.length > 0) )
          {
          <div class="alert alert-danger mt-2">
            @if (deliveryForm.get('phone')?.getError('required')) {
            <p>Deliveryman Phone Required</p>
            }
          </div>
          }
        </div>

        <div class="col-md-6">
          <label for="Email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="Enter Employee Email"
            #inputEmail
            name="Email"
          />
          @if ( deliveryForm.get('email')?.errors &&
          (deliveryForm.get('email')?.touched || inputEmail.value.length > 0) )
          {
          <div class="alert alert-danger mt-2">
            @if (deliveryForm.get('email')?.getError('required')) {
            <p>Email Required</p>
            } @if (deliveryForm.get('email')?.getError('email')) {
            <p>Email Invalid</p>
            }
          </div>
          }
        </div>

        <div class="col-md-6">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Enter Employee Password"
            #inputPassword
            name="password"
          />
          @if ( deliveryForm.get('password')?.errors &&
          (deliveryForm.get('password')?.touched || inputPassword.value.length >
          0) ) {
          <div class="alert alert-danger mt-2">
            @if (deliveryForm.get('password')?.getError('required')) {
            <p>Password Required</p>
            }
          </div>
          }
        </div>

        <div class="col-md-6">
          <label for="address">Address</label>
          <input
            type="text"
            class="form-control"
            id="address"
            formControlName="address"
            placeholder="Enter Employee Address"
            #inputAddress
            name="address"
          />
          @if ( deliveryForm.get('address')?.errors &&
          (deliveryForm.get('address')?.touched || inputAddress.value.length >
          0) ) {
          <div class="alert alert-danger mt-2">
            @if (deliveryForm.get('address')?.getError('required')) {
            <p>Address Required</p>
            }
          </div>
          }
        </div>

        <div class="col-md-6">
          <label for="branch" class="form-label">Branch :</label>
          <select
            name="branch"
            class="form-select"
            id="branch"
            formControlName="branch_id"
          >
            @for (branch of branches; track $index) {
            <option [value]="branch.id">{{ branch.name }}</option>
            }
          </select>
        </div>

        <div class="col-md-6">
          <label for="governrate" class="form-label">Governrate : </label>
          <select
            name="governrate"
            id="governrate"
            class="form-select"
            formControlName="governorate_id"
            #inputgovernorate
          >
            @for (governrate of governrates; track $index) {
            <option [value]="governrate.id">{{ governrate.name }}</option>
            }
          </select>
          @if ( deliveryForm.get('discount_type')?.errors &&
          (deliveryForm.get('discount_type')?.touched ||
          inputgovernorate.value.length > 0) ) {
          <div class="alert alert-danger mt-2">
            @if (deliveryForm.get('discount_type')?.getError('required')) {
            <p>Discount Type Required</p>
            }
          </div>
          }
        </div>

        <div class="col-md-6">
          <label for="Discount Type" class="form-label">Discount Type</label>
          <input
            type="text"
            class="form-control"
            name="Discount Type"
            readonly
            id="discount_type"
            formControlName="discount_type"
            #inputdescountType
          />
          @if ( deliveryForm.get('discount_type')?.errors &&
          (deliveryForm.get('discount_type')?.touched ||
          inputdescountType.value.length > 0) ) {
          <div class="alert alert-danger mt-2">
            @if (deliveryForm.get('discount_type')?.getError('required')) {
            <p>Discount Type Required</p>
            }
          </div>
          }
        </div>

        <div class="col-md-6">
          <label for="Company Per" class="form-label">Company Percentage</label>
          <input
            type="text"
            max="100"
            class="form-control"
            readonly
            id="company_per"
            formControlName="company_per"
            #inputCompanyPer
            placeholder="Enter Percentage"
            name="Company Per"
          />
          @if ( deliveryForm.get('company_per')?.errors &&
          (deliveryForm.get('company_per')?.touched ||
          inputCompanyPer.value.length > 0) ) {
          <div class="alert alert-danger mt-2">
            @if (deliveryForm.get('company_per')?.getError('required')) {
            <p>Company Percentage Required</p>
            }
          </div>
          }
        </div>
      </div>
      <div class="pt-3 d-flex justify-content-end">
        <button class="btn" type="submit">Add Delivery Man</button>
      </div>
    </form>
  </div>
  <a routerLink="/home" class="btn btn-danger m-3">Back</a>
</div>
