<div class="container-fluid">
  <div>
    <div class="d-flex justify-content-between align-items-center mt-4">
      <h1>Employees</h1>

      <p class="btn rounded-3">
        <a href="../addemployee">Add Employee</a>
      </p>
    </div>
    <input type="search" placeholder="  Search" />
  </div>
  <div class="tables">
    <table class="table table-striped rounded-5 table-hover">
      <thead class="rounded-5">
        <tr>
          <th class="border-left">ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Company Name</th>
          <th>Roles</th>
          <th>Status</th>
          <th class="border-right">Setting</th>
        </tr>
      </thead>
      <tbody>
        @for (employee of employees; track $index) {
        <tr>
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.username }}</td>
          <!-- <td>{{ employee.Phone }}</td> -->
          <td>{{ employee.company_name }}</td>
          <td>{{ employee.role }}</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
