<div class="container-fluid">
  <div>
    <div class="head d-flex justify-content-between align-items-center mt-4">
      <h1>Employees</h1>

      <p class="btn rounded-3">
        <a href="../addemployee">Add Employee</a>
      </p>
    </div>
    <input type="search" placeholder="  Search" />
  </div>
  <div class="tables">
    <table class="table table-striped rounded-5 table-hover">
      <thead class="rounded-5">
        <tr>
          <th class="border-left">ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Branch</th>
          <th>Roles</th>
          <th>Status</th>
          <th class="border-right">Setting</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>
          <td>omar</td>
          <td>omar&#64;omar.com</td>
          <td>0123456789</td>
          <td>Tanta</td>
          <td>Manager</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>2</td>
          <td>omar</td>
          <td>{{ "omar@omar.com" }}</td>
          <td>9876543210</td>
          <td>Menofia</td>
          <td>Merchant</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>3</td>
          <td>omar</td>
          <td>{{ "omar@omar.com" }}</td>
          <td>9876543210</td>
          <td>Cairo</td>
          <td>Admin</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>4</td>
          <td>omar</td>
          <td>{{ "omar@omar.com" }}</td>
          <td>9876543210</td>
          <td>Banha</td>
          <td>Sales</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>5</td>
          <td>Ali</td>
          <td>{{ "ali@ali.com" }}</td>
          <td>9876543210</td>
          <td>Aswan</td>
          <td>Merchant</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>6</td>
          <td>Ali</td>
          <td>{{ "ali@ali.com" }}</td>
          <td>9876543210</td>
          <td>Banha</td>
          <td>Sales</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>7</td>
          <td>Ali</td>
          <td>{{ "ali@ali.com" }}</td>
          <td>9876543210</td>
          <td>Fayoum</td>
          <td>Admin</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>8</td>
          <td>islam</td>
          <td>{{ "islam@islam.com" }}</td>
          <td>9876543210</td>
          <td>Aswan</td>
          <td>Branch Manager</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>9</td>
          <td>islam</td>
          <td>{{ "islam@islam.com" }}</td>
          <td>9876543210</td>
          <td>Tanta</td>
          <td>Manager</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>10</td>
          <td>islam</td>
          <td>{{ "islam@islam.com" }}</td>
          <td>9876543210</td>
          <td>Menofia</td>
          <td>Sales</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>11</td>
          <td>islam</td>
          <td>{{ "islam@islam.com" }}</td>
          <td>9876543210</td>
          <td>Banha</td>
          <td>Merchant</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>12</td>
          <td>islam</td>
          <td>{{ "tasneem@tasneem.com" }}</td>
          <td>9876543210</td>
          <td>Cairo</td>
          <td>Branch Manager</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>13</td>
          <td>tasneem</td>
          <td>{{ "tasneem@tasneem.com" }}</td>
          <td>9876543210</td>
          <td>Fayoum</td>
          <td>Admin</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>14</td>
          <td>tasneem</td>
          <td>{{ "tasneem@tasneem.com" }}</td>
          <td>9876543210</td>
          <td>Banha</td>
          <td>Manager</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>15</td>
          <td>tasneem</td>
          <td>{{ "tasneem@tasneem.com" }}</td>
          <td>9876543210</td>
          <td>Aswan</td>
          <td>Merchant</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>16</td>
          <td>tasneem</td>
          <td>{{ "tasneem@tasneem.com" }}</td>
          <td>9876543210</td>
          <td>Tanta</td>
          <td>Sales</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>17</td>
          <td>tasneem</td>
          <td>{{ "ahmed@ahmed.com" }}</td>
          <td>9876543210</td>
          <td>Menofia</td>
          <td>Merchant</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>18</td>
          <td>tasneem</td>
          <td>{{ "ahmed@ahmed.com" }}</td>
          <td>9876543210</td>
          <td>Cairo</td>
          <td>Admin</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>19</td>
          <td>tasneem</td>
          <td>{{ "ahmed@ahmed.com" }}</td>
          <td>9876543210</td>
          <td>Menofia</td>
          <td>Manager</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>20</td>
          <td>mohamed</td>
          <td>{{ "ahmed@ahmed.com" }}</td>
          <td>9876543210</td>
          <td>Banha</td>
          <td>Branch Manager</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>21</td>
          <td>mohamed</td>
          <td>{{ "mohamed@mohamed.com" }}</td>
          <td>9876543210</td>
          <td>Aswan</td>
          <td>Merchant</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>22</td>
          <td>mohamed</td>
          <td>{{ "mohamed@mohamed.com" }}</td>
          <td>9876543210</td>
          <td>Banha</td>
          <td>Sales</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>23</td>
          <td>mohamed</td>
          <td>{{ "mohamed@mohamed.com" }}</td>
          <td>9876543210</td>
          <td>Tanta</td>
          <td>Admin</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>24</td>
          <td>Ali</td>
          <td>{{ "omar@omar.com" }}</td>
          <td>9876543210</td>
          <td>Cairo</td>
          <td>Manager</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>

        <tr>
          <td>25</td>
          <td>ahmed</td>
          <td>{{ "ahmed@ahmed.com" }}</td>
          <td>9876543210</td>
          <td>Menofia</td>
          <td>Branch Manager</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
