<!-- sidebar -->

<div class="container-fluid">
  <div class="row">
    <nav class="col-auto sidebar-wrapper z-3">
      <app-sidebar></app-sidebar>
    </nav>
    <main class="col ms-sm-auto px-md-4">
      <!-- <h2>Main Content Area</h2>
      <p>This is where your main content will go.</p> -->
      <!-- <app-login></app-login> -->
      <!-- <app-table-employees></app-table-employees> -->
      <!-- <app-addemployee></app-addemployee> -->
      <!-- <app-addcity></app-addcity -->
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
