<div class="sidebar">
  <div class="logo">
    <div class="bg-white d-flex justify-content-center rounded-circle">
      <img src="logo.png" alt="Logo" />
    </div>
    <span>My App</span>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a
        (click)="logOut()"
        routerLink="login"
        routerLinkActive="activelink"
        class="nav-link d-flex justify-content-start"
        title="logout"
      >
        <i class="fa-regular fs-2 fa-user"></i>
        <span class="ps-1">{{ user.name }}</span>
      </a>
    </li>
    <hr class="m-0" />
    <li class="nav-item">
      <a
        routerLink="home"
        routerLinkActive="activelink"
        class="nav-link d-flex justify-content-start"
        title="Home"
      >
        <i class="fa-solid fa-home"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="employees"
        routerLinkActive="activelink"
        class="nav-link d-flex justify-content-start"
        title="Employees"
      >
        <i class="fa-solid fa-users"></i>
        <span>Employees</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="#"
        class="nav-link"
        routerLink="merchant"
        routerLinkActive="activeLink"
        title="Merchants"
      >
        <i class="fa-solid fa-store"></i>
        <span>Merchants</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="#"
        class="nav-link"
        routerLink="groups"
        routerLinkActive="activeLink"
        title="Groups"
      >
        <i class="fa-solid fa-user-group"></i>
        <span>Groups</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="#"
        class="nav-link ps-3"
        routerLink="governrates"
        routerLinkActive="activeLink"
        title="Governrate"
      >
        <i class="fa-solid fa-location-dot"></i>
        <span class="ps-2">Governorates</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="#"
        class="nav-link ps-3"
        routerLink="branches"
        routerLinkActive="activeLink"
        title="Branches"
      >
        <i class="fa-solid fa-code-branch"></i>
        <span class="ps-1">Branches</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="#"
        class="nav-link ps-3"
        routerLink="permissions"
        routerLinkActive="activeLink"
        title="Settings"
      >
        <i class="fa-solid fa-gear"></i>
        <span class="ps-2">Permissions</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="#"
        class="nav-link ps-3"
        routerLink="reports"
        routerLinkActive="activeLink"
        title="Reports"
      >
        <i class="fa-regular fa-file-lines"></i>
        <span class="ps-3">Reports</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        href="#"
        class="nav-link ps-3"
        routerLink="addDeliveryMan"
        routerLinkActive="activeLink"
        title="Reports"
      >
        <i class="fa-solid fa-person"></i>
        <span class="ps-3">Delivery Man</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        href="#"
        class="nav-link"
        routerLink="orders"
        routerLinkActive="activeLink"
        title="Reports"
      >
        <i class="fa-solid fa-basket-shopping"></i>
        <span class="ps-2">Orders</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        href="#"
        class="nav-link"
        routerLink="addcity"
        routerLinkActive="activeLink"
        title="Reports"
      >
        <i class="fa-solid fa-city"></i>
        <span class="ps-2">Add City</span>
      </a>
    </li>
  </ul>
</div>
