   <div class="sidebar">
    <div class="logo">
      <div class="bg-white d-flex justify-content-center rounded-circle"><img src="logo.png" alt="Logo"></div>
      <span>My App</span>
    </div>
    
    <ul class="nav flex-column">
      <li class="nav-item">
        <a (click)="logOut()" routerLink="login" routerLinkActive="activelink" class="nav-link" title="logout">
          <i class="fa-regular fa-user"></i>
          <span class="m-auto">{{user.name}}</span>
        </a>
      </li>
      <hr class="m-0">
      <li class="nav-item">
        <a routerLink="home" routerLinkActive="activeLink" class="nav-link" title="Home">
          <i class="fa-solid fa-home"></i>
          <span class="m-auto">Home</span>
        </a>
      </li>
        <li class="nav-item">
          <a routerLink="employees" routerLinkActive="activeLink" class="nav-link" title="Employees">
            <i class="fa-solid fa-users"></i>
              <span class="m-auto">Employees</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" title="Merchants">
            <i class="fa-solid fa-store"></i>
            <span class="m-auto">Merchants</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" title="Groups">
            <i class="fa-solid fa-user-group"></i>
            <span class="m-auto">Groups</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" title="Governrate">
            <i class="fa-solid fa-location-dot"></i>
            <span class="m-auto">Governrate</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" title="Branches">
              <i class="fa-solid fa-code-branch"></i>
              <span class="m-auto">Branches</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" title="Settings">
            <i class="fa-solid fa-gear"></i>
            <span class="m-auto">Settings</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" title="Reports">
              <i class="fa-regular fa-file-lines"></i>
              <span class="m-auto">Reports</span>
          </a>
        </li>
    </ul>
  </div>
  