<div class="container-fluid">
    <div>
      <div class="head d-flex justify-content-between align-items-center mt-4">
        <h1>Branches</h1>
  
        <!-- <p class="btn rounded-3">
          <a href="../adbranch">Add Branches</a>
        </p> -->
      </div>
      <input type="search" placeholder="  Search" />
    </div>
    <div class="tables">
      <table class="table table-striped rounded-5 table-hover">
        <thead class="rounded-5">
          <tr>
            <th class="border-left">ID</th>
            <th>Branch Name</th>
            <th>Date</th>
            <th>Status</th>
            <th class="border-right">Setting</th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <td>1</td>
            <td>New cairo</td>
            <td>15:30 2023-11-05</td>
            <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
            <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Alex</td>
            <td>22:20 2024-01-10</td>
            <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
            <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
          </tr>
          <tr>
            <td>3</td>
            <td>tanta</td>
            <td>12:48 2023-02-13</td>
            <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
            <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
          </tr>
          <tr>
            <td>4</td>
            <td>6-october</td>
            <td>17:15 2024-02-06</td>
            <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
            <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
          </tr>
          <tr>
            <td>5</td>
            <td>Aswan</td>
            <td>15:30 2022-01-10</td>
            <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
            <td><i class="fa-solid icon icon fa-pen-to-square"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  