<div class="container-fluid">
  <div>
    <h1 class="mt-3 mb-5">Branches</h1>
  </div>

  <div class="row">
    <form [formGroup]="branchForm" (ngSubmit)="handleForm()">
      <div class="col-md-12">
        <label for="bname" class="form-label">Branch Name</label>
        <input
          type="text"
          placeholder="New Branch"
          id="bname"
          class="form-control mb-3"
          name="newBranch"
          #inputBranch
          formControlName="name"
        />
      </div>

      <div class="col-md-12">
        <label class="form-label" for="location">location</label>
        <input
          type="text"
          placeholder="Choose location"
          id="location"
          name="location"
          class="form-control mb-3"
          #inputBranch
          formControlName="location"
        />
      </div>

      <div class="col-md-12 d-flex mb-5 justify-content-start align-items-end">
        <button class="btn btn-submit">Add Branch</button>
      </div>
    </form>
  </div>

  <div>
    <input
      class="rounded-pill"
      type="text"
      placeholder="Search..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="filterBranch()"
    />
  </div>

  <div class="tables">
    <table class="table table-striped rounded-5 table-hover">
      <thead class="rounded-5">
        <tr>
          <th class="border-left">ID</th>
          <th>Branch Name</th>
          <th>Location</th>
          <th>Status</th>
          <th class="border-right">Setting</th>
        </tr>
      </thead>
      <tbody>
        @for (branch of filteredBranches; track $index) {
        <tr>
          <td>{{ branch.id }}</td>
          <td>{{ branch.name }}</td>
          <td>{{ branch.location }}</td>
          <td><i class="fa-solid icon icon fa-toggle-on"></i></td>
          <td><i class="fa-solid fa-trash-can text-danger icon " (click)="remove(branch.id)"></i></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
